.profile-section {
    .card {
        height: auto;
        .card-image {
            height: 60%;
            background-color: #f2f2f2;

            img {
                min-height: 200px;
                height: 100%;
            }

            .card-title {
                padding: 10px;
            }
        }

        .card-content {
            height: 40%;
        }
    }
}
