.modal-main {
    .modal-overlay {
        display: flex;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #484848d1;
        .modal-container {
            position: absolute;
            background: white;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .modal-header {
                padding: 24px 24px 16px 24px;
            }
            .modal-content {
                padding: 0 24px;
                height: calc(100% - 133px);
            }
            .modal-footer {
                padding: 16px 24px 24px 24px;
                display: flex;
                justify-content: flex-end;
                .btn-cancel {
                    margin: 0 8px;
                }
            }
        }
    }
}