.w5 {
    width: 50%;
}

.w6 {
    width: 60%;
}

.w7 {
    width: 70%;
}

.w8 {
    width: 80%;
}

.w9 {
    width: 90%;
}

.w10 {
    width: 100%;
}

.h4 {
    height: 40%;
}

.h5 {
    height: 50%;
}

.h6 {
    height: 60%;
}

.h7 {
    height: 70%;
}

.h8 {
    height: 80%;
}

.h9 {
    height: 90%;
}

.h10 {
    height: 100%;
}